
	{% for post in posts %}
		<div>
			<h2><a href="{% url catalog-post id=post.id slug=post.slug %}">{{ post.title }}</a></h2>
			<div class="clearfix">
    			{% if post.image %}
    			<a href="{% url catalog-post id=post.id slug=post.slug %}" style="width:160px; float: left; text-align: center; margin:0px 5px 5px 0px;">
    			    <img src="{{ post.image.x150.url }}" alt="" title=""  class="thumbnail">
    			</a>
    			{% endif %}
    			<p>{{ post.snippet }}</p>
    		</div>
			
		</div>
	{% empty %}
		empty
	{% endfor %}
