{% extends "catalog/_catalog.html" %}
{% load i18n %}

{% block title %}
    {{ post.title }} / {{ block.super }}
{% endblock %}



{% block content %}
    <div class="container">
    	<div class="row">
    		<div class="span3">
    			{% include 'catalog/common/categories.html' with categories=categories %}
    		</div>
    		<div class="span6">
    			<div class="content">
    				<h2>{{ post.title }}</h2>
    				<div>
    					{% autoescape off %}
    						{{ post.content }}
    					{% endautoescape %}
    				</div>
    			</div>
    		</div>
            <div class="span3">
                <div>
					<table class="table table-hover">
                        <tr>
                            <th colspan="2"><h5 class="text-center">{% trans 'location' %}</h5></th>
                        </tr>
						<tr>
							<th>{% trans 'country'|title %}</th>
							<td>{{  post.country }} </td>
						</tr>
						<tr>
							<th>{% trans 'city'|title %}</th>
							<td>{{ post.city }}</td>
						</tr>
						<tr>
							<th>{% trans 'address'|title %}</th>
							<td>{{ post.address }}</td>
						</tr>
                        <tr>
                            <th colspan="2"><h5 class="text-center">{% trans 'contacts' %}</h5></th>
                        </tr>
						<tr>
							<th>{% trans 'email'|title %}</th>
							<td>{{ post.email }}</td>
						</tr>
						<tr>
							<th>{% trans 'phone'|title %}</th>
							<td>{{ post.phone }}</td>
						</tr>
						<tr>
							<th>Skype</th>
							<td>{{ post.skype }}</td>
						</tr>
						<tr>
							<th>{% trans 'site'|title %}</th>
							<td>{{ post.site }}</td>
						</tr>
                        <tr>
                            <th colspan="2"><h5 class="text-center">{% trans 'social network' %}</h5></th>
                        </tr>
						<tr>
							<th>Facebook</th>
							<td>{{ post.facebook }}</td>
						</tr>
						<tr>
							<th>Twitter</th>
							<td>{{ post.twitter }}</td>
						</tr>
						<tr>
							<th>Google+</th>
							<td>{{ post.google_plus }}</td>
						</tr>
					</table>
                </div>
            </div>
    	</div>
    </div>
{% endblock %}